/* フォント設定 */
html {
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/* 色指定 */
.pink {
  color: rgb(255, 192, 203);
}

.blue {
  color: skyblue;
}

/* h1デザイン */
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem; /* ルートの2倍 */
  letter-spacing: 1.2em; /* 文字間1.2倍 */
  text-shadow: 2px 2px 4px gray; /* 影 */
  border-bottom: 3px solid rgb(115, 115, 114);
}

/* basic内のpだけ太字 */
#basic p {
  font-weight: bold;
}
